In [2]:
import pandas as pd
from sqlalchemy import create_engine, inspect

In [8]:

# Create an engine that connects to the SQLite database
engine = create_engine('sqlite:///test.db')

# Create inspector
inspector = inspect(engine)

# Get table information
print(inspector.get_table_names())

['order', 'product']

In [12]:
# Get column information
print(inspector.get_columns('product'))

[{'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'primary_key': 1}, {'name': 'name', 'type': VARCHAR(length=50), 'nullable': False, 'default': None, 'primary_key': 0}, {'name': 'description', 'type': VARCHAR(length=120), 'nullable': False, 'default': None, 'primary_key': 0}, {'name': 'quantity', 'type': INTEGER(), 'nullable': False, 'default': None, 'primary_key': 0}]

In [17]:
df = pd.read_sql('SELECT * FROM product', engine)
df.head()

   id          name        description  quantity
0   1  test-product   test description        88
1   2           cat  cute and adorable         1