The purpose of this code is to facilitate database exploration by using SQLAlchemy to connect to and inspect a SQLite database. We'll then use pandas to load data from the database into a DataFrame.

⚠️ This script should be executed after running `create_db.py` and creating the database tables in the web app.

In [1]:
# Import the required modules
import pandas as pd
from sqlalchemy import create_engine, inspect

In [2]:

# Create an engine that connects to the SQLite database
# Here, we are connecting to a SQLite database named test.db
engine = create_engine('sqlite:///test.db')

In [3]:
# Create an Inspector instance to introspect the database and extract schema information
inspector = inspect(engine)

In [4]:
# Get a list of table names in the database
# Here, we are printing out the table names for clarity
table_names = inspector.get_table_names()
print(f"Table Names: {table_names}")  # Expected Output: ['order', 'product']

Table Names: ['order', 'product']

In [5]:
# Get detailed column information for a specific table, here 'product'
# This includes details like column names, data types, whether nullable or not, etc.
columns = inspector.get_columns('product')
print(f"Column Details: {columns}")

Column Details: [{'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'primary_key': 1}, {'name': 'name', 'type': VARCHAR(length=50), 'nullable': False, 'default': None, 'primary_key': 0}, {'name': 'description', 'type': VARCHAR(length=120), 'nullable': False, 'default': None, 'primary_key': 0}, {'name': 'quantity', 'type': INTEGER(), 'nullable': False, 'default': None, 'primary_key': 0}]

In [6]:
# Now we can load data from a table into a pandas DataFrame using the SQL query
# Here, we are selecting all rows and columns from the 'product' table
df = pd.read_sql('SELECT * FROM product', engine)

In [8]:
# Display the first few rows of the DataFrame for inspection
# This helps us to check whether the data loading process was successful
df.head()

   id          name        description  quantity
0   1  test-product   test description        88
1   2           cat  cute and adorable         1